/* Get dat stylin' done!!  */

h2 {
	text-align: center;
	font-weight: 100;
	font-size: large;
}

#map {
	height: 50%;
	top: 75px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
}

#list-container {
	position: relative;
	top:360px;
}