/* Get dat stylin' done!!  */

h2 {
	text-align: center;
	font-weight: 100;
	font-size: large;
}

#map {
	height: 100%;
	top: 50px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	z-index: -1;
}

#filter-button {
	position: relative;
	top: 415px;
}

#list-container {
	position: relative;
	width: 100%;
	top: 430px;
	background-color: white;
	z-index: 0;
	border: solid black 1px;
}


.closed {
    left: -1200px;
}

.transition {
  -webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}